html {
    height: 100%;
}

body {
    background-color: black;
    color: whitesmoke;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, sans-serif;
}

header {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.scoreboard {
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

.player {
    margin: 0 5px;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player.highlight {
    background-color: #333333;
}

.score {
    flex: 1;
    text-align: center;
}

.score .board {
    display: flex;
    justify-content: center;
}

.score .board .x {
    padding-right: 5px;
    border-right: whitesmoke thin solid;
}

.score .board .o {
    padding-left: 5px;
}

.controls{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.players > div {
    padding: 5px;
    width: 35vmin;
    margin: 0 5px;
    box-sizing: border-box;
    font-size: 2em;
}

.cells {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 2px;
    width: 70vmin;
    height: 70vmin;
    background-color: whitesmoke;
    border: whitesmoke 2px solid;
}

.sign,
.cell {
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign {
    align-items: center;
    font-size: 5vmin;
}

.cell {
    background-color: black;
    font-size: 15vmin;
}

.x .sign,
.cell.x {
    color: red;
}

.o .sign,
.cell.o {
    color: blue;
}

footer {
    padding: 10px;
}

.message {
    text-align: center;
    padding: 10px;
}

main > div > button {
    font-size: 25px;
    padding: 10px;
    margin: 10px;
}